<app-navbar-login></app-navbar-login>
<div class="row">
  <div class="col-2">
    <div class="nav flex-column nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active bg-dark text-white" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
        role="tab" aria-controls="v-pills-home" aria-selected="true" routerLink="/lessor">ข้อมูลรถเช่า</a>
      <a class="nav-link text-dark" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
        aria-controls="v-pills-profile" aria-selected="false" routerLink="/about-me-lessor">ข้อมูลส่วนตัว</a>
      <a class="nav-link text-dark" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
        aria-controls="v-pills-messages" aria-selected="false" routerLink="/chang-ps-lessor">เปลี่ยนรหัสผ่าน</a>
    </div>
  </div>
 
  <div class="col-10">
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">รถเช่าของฉัน</span>
    </nav>

    <div class="row">
      <div class="col-2">

        <div class="nav flex-column nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link text-dark" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
            aria-controls="v-pills-home" aria-selected="true" routerLink="/lessor">รถปล่อยเช่า</a>
          <a class="nav-link active bg-dark text-white" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
            role="tab" aria-controls="v-pills-home" aria-selected="true" routerLink="/lesson-add-car">เพิ่มรถเช่า</a>
        </div>

      </div>

      <div class="col-10" >
        <nav class="navbar navbar-light bg-secondary ">
          <span class="navbar-brand mb-0 h1 text-white">เพิ่มรถเช่า</span>
        </nav>

        <!-- Add car -->
        <div class="px-4 py-3 container bg-light" novalidate>
          
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label text-dark">ชื่อรถ</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="carName" placeholder="ชื่อรถ">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label text-dark">ยี่ห้อ</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="carBand" placeholder="ยี่ห้อ">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label text-dark">ประเภท</label>
            <div class="col-sm-10">
              <select class="form-control" [(ngModel)]="carCategory">
                <option>รถ ECO-Car (อีโคคาร์)</option>
                <option>รถยนต์นั่งขนาดเล็ก (Compact Car)</option>
                <option>รถยนต์นั่งขนาดใหญ่ (Full-Size Car)</option>
                <option>รถยนต์สปอร์ตซีดาน / สปอร์ตคูเป้ / ซูเปอร์คาร์</option>
                <option>รถยนต์เอนกประสงค์ (หรือ MPV)/รถตู้</option>
                <option>รถยนต์เอนกประสงค์สมรรถนะสูง (หรือ SUV)</option>
                <option>รถกระบะ (Pick-Up)</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label text-dark">ที่นั่ง</label>
            <div class="col-sm-10">
              <select class="form-control" [(ngModel)]="carSeat">
                <option>1</option>
                <option>2</option>
                <option>4-5</option>
                <option>9</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label text-dark">เกียร์</label>
            <div class="col-sm-10">
              <select class="form-control" [(ngModel)]="carGear">
                <option>Automatic</option>
                <option>Manual</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label text-dark">สีรถ</label>
            <div class="col-sm-10">
              <input type="text"  class="form-control" [(ngModel)]="carColor"  placeholder="สีรถ">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label text-dark">จังหวัด</label>
            <div class="col-sm-10">
              <input type="text" [(ngModel)]="carPosition" class="form-control" placeholder="จังหวัด">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label text-dark">ปีรถ</label>
            <div class="col-sm-10">
              <input type="text" [(ngModel)]="carYear" class="form-control" placeholder="ปีรถ">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label text-dark">ราคา</label>
            <div class="col-sm-10">
              <input type="text" [(ngModel)]="carPrice" class="form-control" placeholder="ราคาเช่าต่อวัน">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label text-dark">ทะเบียนรถ</label>
            <div class="col-sm-10">
              <input type="text" [(ngModel)]="lessorID" class="form-control" placeholder="ทะเบียนรถ">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label text-dark">รูปถ่ายรถ</label>
            <div class="col-sm-10">
                <form>
                    <div class="form-group">
                      <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                  </form>
            </div>
          </div>

          <div class="form-group row text-center">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-warning" (click)="CreateRecord()" [disabled]="!carName ||
              !carBand || !carCategory || !carSeat || !carGear">ยืนยัน</button>
            </div>
          </div>
        </div>

      </div>
    </div>