<app-navbar-login></app-navbar-login>
<div class="row">
  <div class="col-2">
    <div class="nav flex-column nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active bg-dark text-white" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
        role="tab" aria-controls="v-pills-home" aria-selected="true" routerLink="/lessor">My Rental Car</a>
      <a class="nav-link text-dark" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
        aria-controls="v-pills-profile" aria-selected="false" routerLink="/about-me-lessor">Profile</a>
      <a class="nav-link text-dark" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
        aria-controls="v-pills-messages" aria-selected="false" routerLink="/chang-ps-lessor">Chang Password</a>
    </div>
  </div>

  <div class="col-10">
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">MY RENTAL CAR</span>
    </nav>

    <div class="row">
      <div class="col-2">

        <div class="nav flex-column nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active bg-dark text-white" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
            role="tab" aria-controls="v-pills-home" aria-selected="true" routerLink="/lessor">Car List</a>
          <a class="nav-link text-dark" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
            aria-controls="v-pills-home" aria-selected="true" routerLink="/lesson-add-car">Add Car</a>
          <a class="nav-link text-dark" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
            aria-controls="v-pills-profile" aria-selected="false" routerLink="/lessor">Edit Car</a>
        </div>

      </div>

      <!-- Car List -->
      <div class="col-10 mt-3">
        <div class="card mb-3" style="max-width: 95%;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/assets/img/002.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural
                  lead-in to
                  additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 95%;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/assets/img/003.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural
                  lead-in to
                  additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="max-width: 95%;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/assets/img/004.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural
                  lead-in to
                  additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>