<app-navbar></app-navbar>

<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Login</h3>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authRentalService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>
    </div>

  </div>
</div>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/rental">Rental</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/lessor">Lessor</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/admin">Admin</a>
  </li>
</ul>