<app-navbar-login></app-navbar-login>
<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active bg-dark text-white" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                role="tab" aria-controls="v-pills-home" aria-selected="true" routerLink="/admin">Rental Infomation</a>
            <a class="nav-link text-dark" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                aria-controls="v-pills-profile" aria-selected="false" routerLink="/about-me-admin">Profile</a>
            <a class="nav-link text-dark" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
                role="tab" aria-controls="v-pills-messages" aria-selected="false" routerLink="/chang-ps-admin">Chang
                Password</a>
            <a class="nav-link text-dark" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
                role="tab" aria-controls="v-pills-settings" aria-selected="false" routerLink="/rental-list">Rental
                List</a>
            <a class="nav-link text-dark" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
                role="tab" aria-controls="v-pills-settings" aria-selected="false" routerLink="/lessor-list">Lessor
                List</a>
        </div>
    </div>
    <div class="col-10">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">RENTAL INFOMATION</span>
        </nav>

        <div class="col-12 mt-3">
            <div class="card mb-3" style="max-width: 95%;" *ngFor="let item of cars">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/assets/img/002.jpg" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{item.carName}}</h5>
                            <span class="card-text">ยี่ห้อ: {{item.carBand}}</span><br>
                            <span class="card-text">หมวดหมู่: {{item.carCategory}}</span><br>
                            <span class="card-text">ที่นั่ง: {{item.carSeat}} คน</span><br>
                            <span class="card-text">เกียร์: {{item.carGear}}</span><br>
                            <span class="card-text">สี: {{item.carColor}}</span><br>
                            <span class="card-text">จังหวัด: {{item.carPosition}}</span><br>
                            <span class="card-text">ราคา: {{item.carPrice}} ต่อวัน</span><br>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>