<app-navbar></app-navbar>

<div class="jumbotron bg-light px-4 py-3 container mt-3">
    <div class="text-center">
        <img src="/assets/img/Logo.png" class="rounded w-25 p-3" alt="...">
      </div>
    <h1 class="display-4 text-center" >Boon Drive</h1>
    <p class="lead text-center">Rental car service of Thailand.</p>
    <hr class="my-4">
    <p class="text-center">It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <div class="text-center">
    <a class="btn btn-warning btn-lg" href="#" role="button">Wesbsite</a>
  </div>
  </div>

<form class="px-4 py-3 container mt-3 ">
  <div class="card-deck ">
    <div class="card">
      <img src="/assets/img/001.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </div>
      <div class="card-footer text-center bg-warning">
        <a class="navbar-brand text-dark" href="#" routerLink="/login">RENT NOW</a>
      </div>
    </div>
    <div class="card">
      <img src="/assets/img/002.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer text-center bg-warning">
        <a class="navbar-brand text-dark" href="#" routerLink="/login">RENT NOW</a>
      </div>
    </div>
    <div class="card">
      <img src="/assets/img/003.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer text-center bg-warning">
        <a class="navbar-brand text-dark" href="#" routerLink="/login">RENT NOW</a>
      </div>
    </div>
  </div>
  <h1></h1>

  <div class="card-deck">
    <div class="card">
      <img src="/assets/img/004.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </div>
      <div class="card-footer text-center bg-warning">
        <a class="navbar-brand text-dark" href="#" routerLink="/login">RENT NOW</a>
      </div>
    </div>
    <div class="card">
      <img src="/assets/img/005.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer text-center bg-warning">
        <a class="navbar-brand text-dark" href="#" routerLink="/login">RENT NOW</a>
      </div>
    </div>
    <div class="card">
      <img src="/assets/img/001.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer text-center bg-warning">
        <a class="navbar-brand text-dark" href="#" routerLink="/login">RENT NOW</a>
      </div>
    </div>
  </div>
</form>